* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input,
button,
a,
ul,
line {
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1304px;
  padding-left: 22px;
  padding-right: 22px;
  margin: auto;
}

.navbar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__items__item {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.nav__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__icons__icon {
  width: 24px;
  height: 24px;
}

.menu {
  display: none;
}

@media screen and (max-width: 1225px) {
  .nav__items__item, .nav__icons {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav__img {
    width: 180px;
  }
  .navbar__wrap {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar__wrap {
    padding-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .navbar__wrap {
    padding-top: 20px;
  }
}
.header {
  background-image: url(../../../img/header-bg.png);
  background-size: cover;
  height: 750px;
  width: 100%;
}

@media screen and (max-width: 1437px) {
  .header {
    background-image: url(../../../img/heder=2.png);
    background-size: cover;
    height: 813px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    background-image: url(../../../img/header--3.png);
    background-size: cover;
    height: 507px;
    width: 100%;
  }
}
.hero {
  padding-top: 183px;
  padding-bottom: 178px;
}

.hero__text {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  max-width: 579px;
  letter-spacing: 1.12px;
}

@media screen and (max-width: 1437px) {
  .hero {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .hero__text {
    max-width: 474px;
  }
}
@media screen and (max-width: 1025px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 110px;
  }
  .hero__text {
    max-width: 311px;
    text-align: center;
    font-size: 32px;
    margin: auto;
  }
}
.footer {
  margin-top: 88px;
  background: var(--505050, #505050);
  padding-top: 69px;
  padding-bottom: 109px;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__items--item {
  color: var(--White, #fff);
  font-size: 14px;
  font-weight: 400;
}

.liner {
  width: 58px;
  background-color: white;
  height: 3px;
}

.about {
  color: var(--White, #fff);
  font-size: 14px;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: end;
  padding-top: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 660px) {
  .footer {
    margin-top: 33px;
    padding: 37px 0;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__img {
    display: none;
  }
  .f-none {
    display: none;
  }
  .footer__items {
    align-items: center;
  }
  .footer__right {
    padding: 0;
  }
  .logo {
    align-items: center;
    margin-top: 16px;
  }
}
.leson {
  border-radius: 10px;
  background-color: red;
  opacity: 0.6;
}

.leson__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.leson--title {
  color: var(--White, #fff);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}

.leson--texxt {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  max-width: 606px;
}

.leson--btn {
  padding: 8px 16px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
  background: #ff753a;
  cursor: pointer;
}

@media screen and (max-width: 1225px) {
  .leson__wrap {
    margin-top: 80px;
    gap: 4px;
  }
  .leson--title {
    max-width: 226px;
    font-size: 21px;
  }
  .leson--texxt {
    max-width: 226px;
    font-size: 10px;
  }
  .leson--btn {
    padding: 8px 12px;
    font-size: 12px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .leson__wrap {
    margin-top: 22px;
  }
}
.card {
  margin-top: 200px;
}

.card__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.card__line {
  background-color: rgb(171, 4, 51);
  height: 3px;
  width: 60px;
}

.card__top--title {
  color: #505050;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.card__botom {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__botom__cards {
  max-width: 400px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-radius: 0px 0px 10px 10px;
  background: var(--True-White, #fff);
}

.card--img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin: auto;
  display: block;
  background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #fbfbfb 0%, #d3d3d3 100%);
  border-radius: 10px 10px 0px 0px;
}

.card__botom__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card__botiom__info--title {
  color: var(--252525, #252525);
  font-size: 18px;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.card__botiom__info--narx {
  color: var(--252525, #252525);
  font-size: 18px;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.card__botom__text {
  color: var(--767676, #767676);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.card__botom--btn {
  border-radius: 20px;
  border: 1px solid var(--eaeaea, #eaeaea);
  color: #505050;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  background: none;
}

.none {
  display: none;
}

.bg {
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1040px) {
  .card__botom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card__botom .card__botom__cards {
    max-width: 432px !important;
  }
  .none {
    display: block;
  }
  .card__line {
    width: 259px;
  }
  .card__top--title {
    font-size: 40px;
  }
}
@media screen and (max-width: 779px) {
  .card__line {
    width: 80px;
  }
  .card__top--title {
    font-size: 24px;
  }
  .bg {
    margin-top: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

/*# sourceMappingURL=main.css.map */
