* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
input,
button,
a,
ul,
line {
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}
.container{
    max-width: 1304px;
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
}