
.header {
  background-image: url(../../../img/header-bg.png);
  background-size: cover;
  height: 750px;
  width: 100%;
}
@media screen and (max-width: 1437px) {
  .header {
    background-image: url(../../../img/heder=2.png);
    background-size: cover;
    height: 813px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    background-image: url(../../../img/header--3.png);
    background-size: cover;
    height: 507px;
    width: 100%;
  }
}
