.hero {
  padding-top: 183px;
  padding-bottom: 178px;
}
.hero__text {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  max-width: 579px;
  letter-spacing: 1.12px;
}
@media screen and (max-width: 1437px) {
  .hero {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .hero__text {
    max-width: 474px;
  }
}
@media screen and (max-width: 1025px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 110px;
  }
  .hero__text {
    max-width: 311px;
    text-align: center;
    font-size: 32px;
    margin: auto;
  }
}
// @media screen and (max-width:) {}
// @media screen and (max-width:) {}
// @media screen and (max-width:) {}
