.leson {
  border-radius: 10px;
  background-color: red;
  opacity: 0.6;
}
.leson__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.leson--title {
  color: var(--White, #fff);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}
.leson--texxt {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  max-width: 606px;
}
.leson--btn {
  padding: 8px 16px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
  background: #ff753a;
  cursor: pointer;
}
@media screen and (max-width:1225px) {
    .leson__wrap{
      margin-top: 80px;
        gap: 4px;
    }
    .leson--title{
        max-width: 226px;
        font-size: 21px;
    }
    .leson--texxt{
        max-width: 226px;
        font-size: 10px;
    }
    .leson--btn{
        padding: 8px 12px;
        font-size: 12px;
        margin-top: 16px;   
    }
}
@media screen and (max-width:1024px) {
  .leson__wrap{
    margin-top: 22px;
  }
}
// @media screen and (max-width:) {}
// @media screen and (max-width:) {}
