.navbar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__items__item {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.nav__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav__icons__icon {
  width: 24px;
  height: 24px;
}
.menu {
  display: none;
}
@media screen and (max-width: 1225px) {
  .nav__items__item,.nav__icons {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav__img{
    width: 180px;
  }
  .navbar__wrap{
    padding-top: 40px;
  }
}
@media screen and (max-width:1024px) {
  .navbar__wrap{
    padding-top: 30px;
  }
}
@media screen and (max-width:992px) {
  .navbar__wrap{
    padding-top: 20px;
  }
}
// @media screen and (max-width:) {}
